@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primary: white;
  --text-color: black;
  --acent: #d31f3f;
  scroll-padding-top: 6rem;
}

*,
*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 200dvh;
  /* overflow-x: hidden;
  max-width: 100dvw; */
}

.contenedor {
  max-width: 90rem;
  margin: 0 auto;
}
/*----------------------HEADER-----------------------*/
header a {
  color: inherit;
  text-decoration: none;
}
header a:is(:hover, :focus) {
  color: inherit;
}

header {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
  place-content: space-between;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: white;
  padding: 1rem 5rem;
  font-family: "Righteous", sans-serif;
  text-shadow: 4px 4px 5px black;

  animation: header-animation linear both;
  animation-timeline: scroll(root block);
  animation-range: 100px 400px;
}

@keyframes header-animation {
  to {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px var(--acent);
  }
}

header h1 {
  transition: all 300ms ease;
}
header h1:is(:hover, :focus) {
  cursor: pointer;
  scale: 1.05;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header nav a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: 400;
  transition: all 250ms ease;
}

header nav a:is(:hover, :focus) {
  color: var(--primary);
  text-shadow: 3px 2px var(--acent);
  transform: translateX(-5px) translateY(-2px);
}

.accent {
  color: var(--acent);
}
header a.accent {
  color: var(--acent);
  text-shadow: 1px 1px white;
}

/*----------------------HERO-----------------------*/

.section {
  max-width: 100%;
}

.hero {
  position: relative;
}
.hero img {
  padding: 0;
  width: 100%;
  height: 26rem;
  object-fit: cover;
}

.divisor-hero {
  width: 100%;
  height: 8rem;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: linear-gradient(
    to left top,
    white 0%,
    white 50%,
    transparent 50.5%,
    transparent 100%
  );
}

/*----------------------PRESENTACIÓN-----------------------*/

h2,
h3,
h4 {
  font-family: "Righteous", sans-serif;
}
h2 {
  font-size: 3rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.presentacion {
  position: relative;
}

.horarios {
  width: 20rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.26);
}

.horarios .btn {
  border: none;
  color: var(--acent);
  background-color: transparent;
  font-family: "Righteous", sans-serif;
  box-shadow: none;
  border: 2px solid transparent;
}
.info-cursos .card-header {
  font-family: "Righteous", sans-serif;
  background-color: #d31f3f;
  color: white;
  padding: 1rem;
}

.info-cursos .card-header:first-child {
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}

.info-cursos .card-body {
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  text-align: start;
  /* gap: 1rem; */
}

.info-cursos .card-body svg {
  transform: rotate(90deg);
}

.info-cursos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  top: -5rem;
}

.info-cursos h4 {
  font-size: 2rem;
  margin: 0;
  width: 100%;
}

.aprende-piano {
  max-width: 18rem;
}
.niveles {
  font-weight: 400;
  max-width: 18rem;
  font-family: "Righteous", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.niveles span {
  background-color: var(--acent);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

hr.accent {
  margin: 0;
  height: 0.3rem;
  opacity: 1;
  background-color: var(--acent);
}

.presentacion h3 {
  text-align: start;
}

.piano {
  font-size: 5.5rem;
}

.btn {
  background-color: var(--acent);
  border: 2px solid var(--acent);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
}

.btn:is(:hover, :focus) {
  background-color: white;
  border: 2px solid var(--acent);
  color: var(--acent);
}

.divisor-presentacion {
  left: 0;
  height: 8rem;
  background: linear-gradient(
    to right top,
    var(--acent) 0%,
    var(--acent) 50%,
    transparent 50.5%,
    transparent 100%
  );
  z-index: 1;
}
/*----------------------CURSOS-----------------------*/

.cursos .card-title {
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
  color: var(--acent);
  text-align: center;
  margin: 0;
}

.cursos img {
  object-fit: cover;
  height: 100%;
}
.cursos .carousel-inner {
  height: 14rem;
  border-radius: 0.5rem;
}

.cursos .carousel-item {
  height: 100%;
}

.cursos {
  background-color: #d31f3f;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.cursos h2 {
  color: white;
}

.divisor-cursos {
  height: 8rem;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    var(--acent) 0%,
    var(--acent) 50%,
    transparent 50.5%,
    transparent 100%
  );
}
.cursos .contenedor {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 2rem;
}
.cursos .card {
  padding: 2rem;
  width: 24rem;
  height: 34rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.26);
  justify-content: space-evenly;
  align-items: center;
}

/*----------------------PROFESORES-----------------------*/

.profesores h2 {
  color: var(--acent);
}

.divisor-profesores {
  height: 8rem;
  bottom: 0;
  background: linear-gradient(
    to right top,
    var(--acent) 0%,
    var(--acent) 50%,
    transparent 50.5%,
    transparent 100%
  );
}

.profesor {
  max-width: 50rem;
  display: flex;
  gap: 2rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

img.prof_avatar {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  background-color: #d31f3f;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px black;
}

footer .btn {
  border: 2px solid white;
  background: transparent;
}

footer .btn:is(:hover, :focus) {
  border: 2px solid white;
}
